@using Finanasai.ViewModel
@using Kendo.Mvc.UI
@model IEnumerable<PramogosViewModel>

@{
    ViewBag.Title = "Pramogos";
}

<h2>Pramogos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="pramogosGridas" class="k-content">
    <div class="gridtitle">Pramogos</div>
    @(Html.Kendo().Grid<PramogosViewModel>()
          .Name("pramogosGrid")
          .Columns(columns =>
          {
              columns.Bound(f => f.Metai);
              columns.Bound(f => f.Menesiai).Width(80);
              columns.Bound(f => f.Savaites).Width(90);
              columns.Bound(f => f.Dienos);
              columns.Bound(f => f.Data).Width(100);
              columns.Bound(f => f.Kinas);
              columns.Bound(f => f.Koncertai);
              columns.Bound(f => f.SportoRenginiai);
              columns.Bound(f => f.Teatras);
              columns.Bound(f => f.Kita);
          })
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read
                                  .Action("GetPramogos", "Pramogos"))
              .PageSize(8)

          )

          .Pageable()
          .Sortable())
</div>